*.cover
*.log
*.pyc
*.pyd
*.pyo
.Python
.cache
.coverage
.coverage.*
.devcontainer
.env*
.flaskenv*
.git
.github
.hypothesis
.mypy_cache
.pytest_cache
.tox
.venv
.vscode
__pycache__
coverage.xml
dist/
env
node_modules
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
tests
tmp/
venv
